<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Mon CV</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hepta+Slab:300,400&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <div class="logo">
      <h1 class="nom"> Francis Bang Salifou </h1>
    </div>

      <div class="job">
        <p><span class="lettrine">I</span>ndustrie graphique<br>
          <p><span class="lettrine">P</span>hotographie professionnelle<br>
            <p><span class="lettrine">W</span>ebdesign junior<br>
            </div>
            <div>
              <a href="index.html"><img src="img/cartedevisite_logo.jpg" alt="cartedevisite_logo" id="monlogo"></a>

            </div>
            <div class="material-icon">
              <p><span class="lettrine"><a href="tel:0604140547"><i class="fas fa-phone-square-alt"></i></a></span>+(33)0604140547</p>
              <p><span class="lettrine"><a href="mailto:ciscoimagine@gmail.com"><i class="fas fa-envelope"></i></a></span>ciscoimagine@gmail.com</p>
              <p><span class="lettrine"><a href="img/cv_francis_salifou_web_print.pdf" target="_blank"><i class="fas fa-file-download"></i></a></span>CV</p>
            </div>



  </header>

  <nav class="sticky">
    <div class="conteneur-nav">
      <label for="mobile"><i class="fas fa-bars fa-2x"></i></label>
      <input type="checkbox" id="mobile" value="+(33)0604140547">
      <div class="partage" style="font-size: 25px">
        <a href="tel:0604140547"><i class="fas fa-phone-square-alt"></i></a>
        <a href="mailto:ciscoimagine@gmail.com"><i class="fas fa-envelope"></i></a>
      </div>

      <ul>
        <li><a href="#apropos">A propos</a></li>
        <li><a href="#formations">Formations</a></li>
        <li><a href="#Experiences">Expériences</a></li>
        <li><a href="#Portfolio">Portfolio</a></li>
        <li><a href="#Réalisations">Réalisations</a></li>
        <li><a href="#Contact">Contact</a></li>
      </ul>
    </div>
  </nav>


    <main>
      <section id="apropos">
        <div class="blocgauche">
          <h2><span class="lettrine">A</span> propos</h2>
          <p>1993, mon bac économique et social en poche et des projets en communication graphique pour mon futur.
            Ces études secondaires, jalonnées, par mes années de sport au CREPS et ensuite à Clamart
            au niveau régional en athlétisme
            dans la discipline du 400 métres m’ont fait apprécier les challenges et le dépassement de soi.
            Ensuite, je poursuis à titre amateur le semi-marathon (Braderie de Lille, Phalempin).
            En outre, l’évasion, par le kayack en eaux vives et en mer, m’ont apporté une forme de
            bien-être et la découverte de notre paysage français.</p>
          </div>
          <div class="blocdroit">
            <img src="img/canoe.png" alt="canoe" id="bordure">
          </div>
      </section>

      <section id="formation">
        <div class="left">
          <h2><span class="lettrine">F</span>ormations</h2>
          <p>CMS WORDPRESS-PRESTASHOP<br>
            Benchmarking - Scénario Utilisateur - charte graphique
            Création site vitrine - site E-commerce
            <span>"Cette formation m'a permis de passer d'un univers
              Print vers un univers Web. J'ai acquis les différents process :
              "créer, gérer et mettre à jour un site".</span>
          </p>
          <img src="img/siadep.png" alt="siadep">
        </div>
        <div class="right">
          <p>GESTION DES FLUX NUMÉRIQUES<br>
            <span>"L'imprimerie demande des compétences <br>transversales de la pré-presse
              vers le produit imprimé".</span>
          </p>
          <img src="img/logo-amigraf.png" alt="logo-amigraf">
        </div>
        <div class="left1">
          <p>DIPLÔME MIXED MEDIA "PHOTOJOURNALISME ET ETUDES DES MÉDIAS"<br>
            <span>"Ce fût une expérience enrichissante de vivre <br>la langue anglaise en immersion à Londres et de pouvoir y étudier.<br> L'enseignement de grande qualité, les espaces de
            production et le matériel à notre service<br> ont été déterminants pour accéder à ce niveau de diplôme"<br>.</span>
          </p>
          <img src="img/lmu.png" alt="LMU">
        </div>
        <div class="right1">
          <p>CERTIFICAT SUPÉRIEUR DE PHOTOGRAPHIE PROFESSIONNELLE "MENTION TRAITEMENT DE L'IMAGE ET COMMUNICATION"<br>
            <span>"J'ai eu l'opportunité d'assister et de seconder Dominique Anguise professeur Dr en photographie de l'école Louis Lumière dans la post-production : gestion et traitement des images couleurs
            /noir et blanc et le tirage sur du papier prestige<br> (Fiber base FB, film transparent/Duratrans...)".</span>
          </p>
          <img src="img/efet.png" alt="efet">
        </div>
      </section>


      <section id="experience">
        <div class="experience">
          <h2><span class="lettrine">E</span>xpériences</h2>
        </div>
        <div class="vertical-align">
          <ul class="ligne">
            <li class="ligne-item" ng-repeat="ligne_experience">
              <div class="year">
                1994-1998
              </div>
              <div class="ligne-titre">Assistant communication visuelle</div>
              <div class="description">stages d'études et CDD : publicité par l'objet, illustration, tirage grand format, gestion de banque d'images<br>
                "Studio Alain budabas"Issy-les-Moulineaux,"synergie communication" Paris 3e, "Cewe Color" Paris 18e,<br> "Appolostar Multimédia" Paris 9e</div>
              </li>

              <li class="ligne-item" ng-repeat="ligne_experience">
                <div class="year">
                  1998-1999
                </div>
                <div class="ligne-titre">Photographe publicitaire</div>
                <div class="description">label "Spaced out" et "W11" Into the bag design : Jas MB, Londres (GB)</div>
              </li>

              <li class="ligne-item" ng-repeat="ligne_experience">
                <div class="year">
                  2000-2001
                </div>
                <div class="ligne-titre">Chargé de veille marketing</div>
                <div class="description">étude d'un corpus de presse anglaise observatoire de la cosmétique : L'Oréal "Media & Management" Clichy 92</div>
              </li>

              <li class="ligne-item" ng-repeat="ligne_experience">
                <div class="year">
                  2000-2002
                </div>
                <div class="ligne-titre">Animateur d'atelier de photographie</div>
                <div class="description"> langage de l'image, technique et traitement<br>Mairie de Paris "Espace Beaujon" Paris 8e</div>
              </li>

              <li class="ligne-item" ng-repeat="ligne_experience">
                <div class="year">
                  2002-2005
                </div>
                <div class="ligne-titre">Intervenant technique de stages photographiques</div>
                <div class="description">créations d'images, DRAC du Nord 59</div>
              </li>

              <li class="ligne-item" ng-repeat="ligne_experience">
                <div class="year">
                  2005-2011
                </div>
                <div class="ligne-titre">Vendeur SAV</div>
                <div class"description">conseil, diagnostic, test, réparation et pilotage des sous-traitants<br>pour la gestion des produits techniques et multimédias "Alizé-SFL"<br> Valenciennes 59</div>
              </li>

              <li class="ligne-item" ng-repeat="ligne_experience">
                <div class="year">
                  2013-2014
                </div>
                <div class="ligne-titre">Opérateur sur presse numérique</div>
                <div class"description">la production se matérialise sous la forme d'imprimés personnalisés<br>(livres, brochures, carnets, revues de presse, classeurs, cartes de voeux...)<br>"Sobook" Roubaix 59</div>
              </li>

              <li class="ligne-item" ng-repeat="ligne_experience">
                <div class="year">
                  2016-2018
                </div>
                <div class="ligne-titre">Animation d'une galerie d'Art </div>
                <div class="description">permanence, atelier photo, montage expositions, réseaux sociaux<br> Association galerie d'Art Excentric, Maubeuge 59</div>
              </li>

              <li class="ligne-item" ng-repeat="ligne_experience">
                <div class="year">
                  2019-2020
                </div>
                <div class="ligne-titre">Atelier numérique d'insertion </div>
                <div class="description">parcours professionnel de développement digital "Ageval" Valenciennes 59</div>
              </li>
            </ul>
          </div>
        </section>




      <section id="competences">
        <div class="competences">
          <h2><span class="lettrine">C</span>ompétences</h2>
        </div>

        <div class="compr">
          <div class="compr80">
            <ul>
              <li class="ligne-comp" ng-repeat="ligne_competences">
                <div class="lignetitre">PHOTOGRAPHIE ET COMMUNICATION</div>
                <div class="description">Prise de vue analogique et numérique (Studio/portrait/publicité) Photojournalisme<br> Post-production : Photoshop - Traitement de l'image numérique - Histoire de la photographie et culture visuelle-
                  Analyse d'image et sémiologie
                </div>
              </li>
            </ul>
            <ul>
              <li class="ligne-comp" ng-repeat="ligne_competences">
                <div class="lignetitre">INDUSTRIE GRAPHIQUE</div>
                <div class="description">Opérateur prépresse gestion des PDF dans un flux numérique Xerox/Konica  Colorimétrie et impression numérique Indesign-Illustrator-Adobe acrobat Pro<br> Création de produits imprimés personnalisés-Cachet électronique : le filigrane ou la signature numérique des PDF</div>
              </li>
            </ul>
          </div>
          <figure>
            <img class="lunel" src="img/oeil_forme_droite.png" alt="oeil_forme">
          </figure>
     </div>

        <div class="compl">
          <div class="compl80">
            <ul>
              <li class="ligne-comp" ng-repeat="ligne_competences">
                <div class="lignetitre">WEB</div>
                <div class"description">HTML-CSS-CMS Wordpress-Prestashop charte graphique-Benchmarking-<br> Veille marketing : étude d'un corpus de presse anglaise concernant l'observatoire de la cosmétique</div>
              </li>
            </ul>
            <ul>
              <li class="ligne-comp" ng-repeat="ligne_competences">
                <div class="lignetitre">SAV ET VENTE</div>
                <div class"description">Produits techniques et multimédias : <br>Conseil diagnostic test réparation - Pilotage des sous-traitants<br> Gestion des produits techniques multimédias et culturels</div> 
              </li>
            </ul>
          </div>
          <figure class="cont_luner">
            <img class="luner" src="img/oeil_forme_gauche.png" alt="oeil_forme">
          </figure>
        </div>
      </section>


      <section id="realisations">
        <div class="realisations">
          <h2><span class="lettrine">R</span>éalisations</h2>
        </div>
        <div class="realimg">

        <div class="read">
          <div class="read80">
            <ul>
              <li class="ligne-rea" ng-repeat="ligne_realisation">
                <div class="lignetitre">PUBLICATIONS</div>
                <div class="description">Magazine Marie-Claire Maison Nord-Pas de Calais-Picardie - Magazine international : Young Blood jeunes créateurs -
                  Magazine international : Textile Report -
                  Catalogue « Sala D’Art Jove » Barcelone, Espagne
                  - Magazine UK Londres : Times Out
                  - Reportage de Laura Levy/Jean-Marc Vasco pour France 3 Nord Pas de Calais
                  Picardie</div>
                </li>
              </ul>
              <ul>
                <li class="ligne-rea" ng-repeat="ligne-realisation">
                  <div class="lignetitre">COMMANDES PUBLIQUES</div>
                  <div class="description">Photographe pour l’association « Banlieues du Monde » Ministère de la culture (Sénégal/Afrique)<br>
                    Espace Beaujon et la Mode : réalisation Affiche grand format bâche microperforée (extérieur) - Toujours inoubliable/Voor Altijd Onvergetelijk : oeuvre en plein air 120cm*80cm "Kunstig gavere" Belgique</div>
                  </li>
                </ul>
              </div>
            </div>



              <div class="real">
                <div class="real80">
                  <ul>
                    <li class="ligne-rea" ng-repeat="ligne_realisation">
                      <div class="lignetitre">PRIX</div>
                      <div class"description">Tremplin Jeunes Créateurs Mairie de Paris
                        section « photographie » 2000</div>
                    </li>
                  </ul>
                  <ul>
                    <li class="ligne-rea" ng-repeat="ligne_realisation">
                      <div class="lignetitre">EN MODE IMPRIMEUR</div>
                      <div class"description">
                        <p>Il n'y a pas de manière prédonné de voir la réalité<br>
                          "EDITION PRODUCTION IMPRESSION"<br>

                        </P>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>

              </section>
              <!--fin de section-->






























      <!--<section id="portfolio">
        <div id="gallery">
          <div class="gallery">
            <img src="" alt="" width="" height="">
            <div class="title">         </div>
          </div>

          <div class="gallery">
            <a target="_blank"href="">
              <img src="" alt="" width="" height="">
            </a>
            <div class="title">          </div>
          </div>

          <div class="gallery">
            <a target="_blank" href="">
              <img src="" alt="" width="" height="">
            </a>
          <div class="title">          </div>

          <div class="gallery">
              <a target="_blank" href="">
                <img src="" alt="" width="" height="">
              </a>
          <div class="title">          </div>

          <div class="gallery">
                <a target="_blank" href="">
                  <img src="" alt="" width="" height="">
                </a>
          <div class="title">          </div>

          <div class="gallery">
                  <a target="_blank" href="">
                    <img src="" alt="" width="" height="">
                  </a>
          <div class="title">          </div>

          <div class="gallery">
                    <a target="_blank" href="">
                      <img src="" alt="" width="" height="">
                    </a>
          <div class="title">          </div>

          <div class="gallery">
                      <a target="_blank" href="">
                        <img src="" alt="" width="" height="">
                      </a>
          <div class="title">          </div>

          <div class="gallery">
                        <a target="_blank" href="">
                          <img src="" alt="" width="" height="">
                        </a>
          <div class="title">          </div>
          <div class="gallery">
                        <a target="_blank" href="">
                          <img src="" alt="" width="" height="">
                        </a>
          <div class="title">          </div>

        </section>
      -->


    </main>
  </body>
</html>
